[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
requests = "*"
autopep8 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
