body {
  background: rgb(8, 2, 36);
  padding: 16px;
}

.main-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main-container>div {
  padding: 0px 10px;
}

.chart-container {
  width: 50%;
}